<h3>Tarabara BC-81 BMD</h3>

Введення даних вручну

In [6]:
import pandas as pd

In [26]:
new_df = pd.DataFrame(
{
    "Iphone": ['Iphone 6', 'Iphone 6s', 'Iphone 7', 'Iphone 7+', 'Iphone 8'],
    "Year": [2014, 2015, 2016, 2016, 2017],
    "IOS_Version": [12.4, 13.1, 13.1, 13.1, 13.2],
    "Battery_volume": [1810, 1715, 1960, 2450, 1920]
})

new_df

      Iphone  Year  IOS_Version  Battery_volume
0   Iphone 6  2014         12.4            1810
1  Iphone 6s  2015         13.1            1715
2   Iphone 7  2016         13.1            1960
3  Iphone 7+  2016         13.1            2450
4   Iphone 8  2017         13.2            1920

Import data about COVID 19 containment measures

In [30]:
path = "/Users/Сергей/Desktop/COVID 19 Containment measures data.csv"
data = pd.read_csv(path, encoding = 'utf-8')

print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [21]:
import os

print("The directory we are working in is: {}".format(os.getcwd()))

The directory we are working in is: C:\Users\Сергей

In [ ]:
data = pd.read_csv('COVID 19 Containment measures data.csv')

print(type(data))

In [17]:
data

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
0,163,NaN,Austria,"Mar 16, 2020",NaN,On 10 March 2020 government announced that all...,NaN,NaN,NaN,university closure,NaN,https://en.wikipedia.org/wiki/2020_coronavirus...,NaN,NaN,NaN,NaN
1,132,NaN,Germany,"Feb 01, 2020",NaN,"102 German citizens and 26 relatives, all of w...",NaN,NaN,NaN,"international traveller screening, traveller q...",NaN,https://www.tagesschau.de/inland/coronavirus-g...,NaN,NaN,NaN,NaN
2,578,NaN,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.",NaN,NaN,NaN,"nursery schools closure, school closure, unive...",NaN,https://www.theguardian.com/world/2020/mar/18/...,NaN,NaN,NaN,NaN
3,372,NaN,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,NaN,NaN,NaN,"14 days, contact isolation",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
4,357,NaN,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",NaN,NaN,NaN,isolation advice to elderly,NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,NaN,NaN,US: Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Statistics and other

In [22]:
data.shape

(1036, 16)

In [31]:
data.head(5)

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
0,163,NaN,Austria,"Mar 16, 2020",NaN,On 10 March 2020 government announced that all...,NaN,NaN,NaN,university closure,NaN,https://en.wikipedia.org/wiki/2020_coronavirus...,NaN,NaN,NaN,NaN
1,132,NaN,Germany,"Feb 01, 2020",NaN,"102 German citizens and 26 relatives, all of w...",NaN,NaN,NaN,"international traveller screening, traveller q...",NaN,https://www.tagesschau.de/inland/coronavirus-g...,NaN,NaN,NaN,NaN
2,578,NaN,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.",NaN,NaN,NaN,"nursery schools closure, school closure, unive...",NaN,https://www.theguardian.com/world/2020/mar/18/...,NaN,NaN,NaN,NaN
3,372,NaN,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,NaN,NaN,NaN,"14 days, contact isolation",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
4,357,NaN,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",NaN,NaN,NaN,isolation advice to elderly,NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN

In [32]:
data.tail(5)

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
1031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1032,NaN,NaN,US: Michigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1033,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1034,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1035,NaN,NaN,US:Maryland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data.dtypes

ID                                     object
Applies To                             object
Country                                object
Date Start                             object
Date end intended                      object
Description of measure implemented     object
Exceptions                             object
Implementing City                      object
Implementing State/Province            object
Keywords                               object
Quantity                              float64
Source                                 object
Target city                           float64
Target country                         object
Target region                          object
Target state                          float64
dtype: object

Object type description

In [36]:
data.describe(include='object')

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Source,Target country,Target region
count,825,25,1030,1008,163,1011,30,72,122,997,933,81,28
unique,796,24,91,81,51,982,30,42,54,350,371,35,19
top,Copy of Untitled,Bavaria,China,"Mar 16, 2020","Mar 31, 2020",state of emergency,"inpatient care, which is provided to minors, p...",Wuhan,Hubei,international travel ban,https://en.wikipedia.org/wiki/2020_coronavirus...,China,"Lombardy, Veneto"
freq,4,2,96,98,14,7,1,19,36,68,73,21,4

Number type description

In [37]:
data.describe()

       Quantity  Target city  Target state
count       0.0          0.0           0.0
mean        NaN          NaN           NaN
std         NaN          NaN           NaN
min         NaN          NaN           NaN
25%         NaN          NaN           NaN
50%         NaN          NaN           NaN
75%         NaN          NaN           NaN
max         NaN          NaN           NaN

All types description

In [39]:
stats = data.describe(include = 'all')

stats

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
count,825,25,1030,1008,163,1011,30,72,122,997,0.0,933,0.0,81,28,0.0
unique,796,24,91,81,51,982,30,42,54,350,NaN,371,NaN,35,19,NaN
top,Copy of Untitled,Bavaria,China,"Mar 16, 2020","Mar 31, 2020",state of emergency,"inpatient care, which is provided to minors, p...",Wuhan,Hubei,international travel ban,NaN,https://en.wikipedia.org/wiki/2020_coronavirus...,NaN,China,"Lombardy, Veneto",NaN
freq,4,2,96,98,14,7,1,19,36,68,NaN,73,NaN,21,4,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Working with smaller data

In [41]:
cut_data = data.iloc[0:10, :]

cut_data

,ID,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
0,163,NaN,Austria,"Mar 16, 2020",NaN,On 10 March 2020 government announced that all...,NaN,NaN,NaN,university closure,NaN,https://en.wikipedia.org/wiki/2020_coronavirus...,NaN,NaN,NaN,NaN
1,132,NaN,Germany,"Feb 01, 2020",NaN,"102 German citizens and 26 relatives, all of w...",NaN,NaN,NaN,"international traveller screening, traveller q...",NaN,https://www.tagesschau.de/inland/coronavirus-g...,NaN,NaN,NaN,NaN
2,578,NaN,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.",NaN,NaN,NaN,"nursery schools closure, school closure, unive...",NaN,https://www.theguardian.com/world/2020/mar/18/...,NaN,NaN,NaN,NaN
3,372,NaN,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,NaN,NaN,NaN,"14 days, contact isolation",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
4,357,NaN,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",NaN,NaN,NaN,isolation advice to elderly,NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
5,356,NaN,United Kingdom,"Mar 16, 2020",NaN,Everyone should avoid gatherings with friends ...,NaN,NaN,NaN,"public announcement, social distancing",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
6,373,NaN,United Kingdom,"Mar 14, 2020",NaN,People who are self-isolating with mild sympto...,NaN,NaN,NaN,"end of testing, testing criteria tightened",NaN,https://www.bbc.com/news/uk-51889957,NaN,NaN,NaN,NaN
7,355,NaN,United Kingdom,"Feb 26, 2020",NaN,Britons returning from northern Italy told to ...,NaN,NaN,NaN,"international traveller screening, travel warn...",NaN,https://www.gov.uk/guidance/coronavirus-covid-...,NaN,NaN,NaN,NaN
8,603,NaN,United Kingdom,"Mar 18, 2020","Apr 18, 2020",The Foreign & Commonwealth Office (FCO) advise...,NaN,NaN,NaN,outbound travel warning,NaN,https://www.gov.uk/guidance/travel-advice-nove...,NaN,NaN,NaN,NaN
9,NaN,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
new_data = ['Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Europe', 'Asia']
cut_data.insert(1, 'Region', new_data)
cut_data

,ID,Region,Applies To,Country,Date Start,Date end intended,Description of measure implemented,Exceptions,Implementing City,Implementing State/Province,Keywords,Quantity,Source,Target city,Target country,Target region,Target state
0,163,Europe,NaN,Austria,"Mar 16, 2020",NaN,On 10 March 2020 government announced that all...,NaN,NaN,NaN,university closure,NaN,https://en.wikipedia.org/wiki/2020_coronavirus...,NaN,NaN,NaN,NaN
1,132,Europe,NaN,Germany,"Feb 01, 2020",NaN,"102 German citizens and 26 relatives, all of w...",NaN,NaN,NaN,"international traveller screening, traveller q...",NaN,https://www.tagesschau.de/inland/coronavirus-g...,NaN,NaN,NaN,NaN
2,578,Europe,NaN,United Kingdom,"Mar 20, 2020",NaN,"All schools, nurseries and colleges closed.",NaN,NaN,NaN,"nursery schools closure, school closure, unive...",NaN,https://www.theguardian.com/world/2020/mar/18/...,NaN,NaN,NaN,NaN
3,372,Europe,NaN,United Kingdom,"Mar 16, 2020",NaN,If one person in any household has a persisten...,NaN,NaN,NaN,"14 days, contact isolation",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
4,357,Europe,NaN,United Kingdom,"Mar 16, 2020",NaN,"By the weekend, those with the most serious he...",NaN,NaN,NaN,isolation advice to elderly,NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
5,356,Europe,NaN,United Kingdom,"Mar 16, 2020",NaN,Everyone should avoid gatherings with friends ...,NaN,NaN,NaN,"public announcement, social distancing",NaN,https://www.bbc.com/news/uk-51920444,NaN,NaN,NaN,NaN
6,373,Europe,NaN,United Kingdom,"Mar 14, 2020",NaN,People who are self-isolating with mild sympto...,NaN,NaN,NaN,"end of testing, testing criteria tightened",NaN,https://www.bbc.com/news/uk-51889957,NaN,NaN,NaN,NaN
7,355,Europe,NaN,United Kingdom,"Feb 26, 2020",NaN,Britons returning from northern Italy told to ...,NaN,NaN,NaN,"international traveller screening, travel warn...",NaN,https://www.gov.uk/guidance/coronavirus-covid-...,NaN,NaN,NaN,NaN
8,603,Europe,NaN,United Kingdom,"Mar 18, 2020","Apr 18, 2020",The Foreign & Commonwealth Office (FCO) advise...,NaN,NaN,NaN,outbound travel warning,NaN,https://www.gov.uk/guidance/travel-advice-nove...,NaN,NaN,NaN,NaN
9,NaN,Asia,NaN,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
cut_data.groupby('Region').describe()

       Quantity                              Target city       ...          \
          count mean std min 25% 50% 75% max       count mean  ... 75% max
Region                                                         ...
Asia        0.0  NaN NaN NaN NaN NaN NaN NaN         0.0  NaN  ... NaN NaN
Europe      0.0  NaN NaN NaN NaN NaN NaN NaN         0.0  NaN  ... NaN NaN

       Target state
              count mean std min 25% 50% 75% max
Region
Asia            0.0  NaN NaN NaN NaN NaN NaN NaN
Europe          0.0  NaN NaN NaN NaN NaN NaN NaN

[2 rows x 24 columns]

Saving results

In [45]:
cut_data.to_csv('output.csv', encoding = 'utf8')

In [46]:
stats.to_csv('stats.csv', encoding = 'utf8')